* {
	border: 0 none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: 0;
}

ul {
	list-style: none;
}


.maindesigners{
	position: relative;
	top: 100px;
	width: 900px;
	margin: auto;
	text-align: justify;
}

