// Place all the styles related to the Dresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	border: 0 none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: 0;
}

ul {
	list-style: none;
}



.content{
	width: 100%;
	height: 1000px;
	background-color: #f7f7f7;
	background-image:url('background.png');
	position: relative;
}

.main_page {
	height: 2200px;
}

.main {
	width: 1070px;
	position: relative;
	margin: auto;
	
}

.dress_list {
	position: relative;
	top: 100px;
}


.dress {
	display: block-inline;
	float: left;
	/*width: 200px;*/
	overflow: hidden;
	/*margin: 5px;*/
}


.dress-card {
	background-color: white;
	height: 350px;
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block-inline;
	float: left;
	margin: 5px;
	

}

.dress-image {
	width: 180px;
	height: 300px;
	overflow: hidden;
}

.dress-image img {
	width: 200px;
	display: block;
	position: relative;
	left: -15px;
}

.dress-info {
	font-family: Ariel;
}

.dress-info .designer {
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	letter-spacing: 1px;
}


.dress-info .old-price {
	text-decoration: line-through;
	font-size: 90%;
}

//SHOW PAGE

.dresspage {
	position: relative;
	top: 100px;
	font-family: "Helvetica Neue",sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	
}

.dresspage img {
	width: 450px;
	//float: left;
	position: relative;
	//top: 100px;
	left: 70px;
}

.show_info {
	width: 530px;
	float: right;
	//margin-left: 50px;
}

#dress_name {
	font-size: 2em;
	margin-bottom: 20px;
	line-height: 100%;
}

#dress_name a:hover {
	background: transparent;
	color: black;
	font-size: 1.2em;
}

#description {
	text-transform: none;
	margin: 10px 0 10px 0;
}
