<%= render :partial => "shared/header" %>

<div class="content main_page"> 
	<div class = "main">	
		<section class="about">
			<p> Online shopping is frustrating.  Stylefindr's mission is to streamline the process by connecting online shoppers with the right look at the right price.  We gather product information - retailers, availability, pricing, images, and reviews - and put it all in one place.  Say goodbye to shopping with twenty tabs open! </p>  
			
			<p>We have completed a private beta test with promising results, and are now inviting retailers to advertise with us.  We plan to feature contemporary designers and work with retailers of affordable luxury apparel.  As we gain retailers, we will continue to add more functionality.</p>
			
			<p>Stylefindr is founded by two Dartmouth College students with technical backgrounds and experience working in fashion.  To learn more, please contact us. <p>
		</section>
		
	</div>
	
</div>

